mixin sBlog(data)
	// start sBlog
	+b.sBlog.section#sBlog&attributes(attributes)
		//- +b.SECTION.sBlog.section#sBlog&attributes(attributes)
		.container
			//- +b.section-title.text-center
			//- 	h2 каталог 
			//- 		span заборов
			+e.row.row
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-1.jpg`, `Консультируем и помогаем подобрать навес под авто в загородный дом`, `Мы предлагаем готовые к установке ограждения из профнастила, экологичных деревянных материалов...`, `12&nbsp;июн&nbsp;23`, `Читать подробнее`)
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-2.jpg`, `заборы из&nbsp;профнастила: плюсы и&nbsp;минусы`, `Мы&nbsp;предлагаем готовые к&nbsp;установке ограждения из&nbsp;профнастила, экологичных деревянных материалов с&nbsp;долгим сроком службы и&nbsp;широким выбором цветов`, `12&nbsp;июн&nbsp;23`, `Читать подробнее`)
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-9.jpg`, `помогаем подобрать навес под авто в&nbsp;загородный дом`, `Мы&nbsp;предлагаем готовые к&nbsp;установке ограждения из&nbsp;профнастила, экологичных деревянных материалов с&nbsp;долгим сроком службы и&nbsp;широким выбором цветов`, `12&nbsp;июн&nbsp;23`, `Читать подробнее`)
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-8.jpg`, `кирпичные столбы под забор и&nbsp;ворота`, `Мы&nbsp;предлагаем готовые к&nbsp;установке ограждения из&nbsp;профнастила, экологичных деревянных материалов с&nbsp;долгим сроком службы и&nbsp;широким выбором цветов`, `12&nbsp;июн&nbsp;23`, `Читать подробнее`)
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-4.jpg`, `где используется ограждение из&nbsp;3д&nbsp;сетки`, `Мы&nbsp;предлагаем готовые к&nbsp;установке ограждения из&nbsp;профнастила, экологичных деревянных материалов с&nbsp;долгим сроком службы и&nbsp;широким выбором цветов`, `12&nbsp;июн&nbsp;23`, `Читать подробнее`)
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-6.jpg`, `виды ворот: что лучше`, `Мы&nbsp;предлагаем готовые к&nbsp;установке ограждения из&nbsp;профнастила, экологичных деревянных материалов с&nbsp;долгим сроком службы и&nbsp;широким выбором цветов`, `12&nbsp;июн&nbsp;23`, `Читать подробнее`)
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-1.jpg`, `преимущества готовых ограждений`, `Мы&nbsp;предлагаем готовые к&nbsp;установке ограждения из&nbsp;профнастила, экологичных деревянных материалов с&nbsp;долгим сроком службы и&nbsp;широким выбором цветов`, `12&nbsp;июн&nbsp;23`, `Читать подробнее`)
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-2.jpg`, `заборы из&nbsp;профнастила: плюсы и&nbsp;минусы`, `Мы&nbsp;предлагаем готовые к&nbsp;установке ограждения из&nbsp;профнастила, экологичных деревянных материалов с&nbsp;долгим сроком службы и&nbsp;широким выбором цветов`, `12&nbsp;июн&nbsp;23`, `Читать подробнее`)
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-4.jpg`, `где используется ограждение из&nbsp;3д&nbsp;сетки`, `Мы&nbsp;предлагаем готовые к&nbsp;установке ограждения из&nbsp;профнастила, экологичных деревянных материалов с&nbsp;долгим сроком службы и&nbsp;широким выбором цветов`, `12&nbsp;июн&nbsp;23`, `Читать подробнее`)
			+pugin()
	// end sBlog