// start .sSimilar
.sSimilar {
	--sPT: #{rem(36)};
	--sPB: #{rem(36)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(96)};
		--sPB: #{rem(96)};
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.categoryItem {
		flex-direction: column;
		padding: 0;
		&:after {
			content: unset;
		}
		&__img-wrap {
			--ratio: 408/306;
			max-width: none;
			margin-right: 0;
			margin: rem(-1);
		}
		&__link {
			padding: rem(18);
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			@include media-breakpoint-up(lg) {
				padding: rem(36);
			}
			.row {
				align-items: center;
				margin-top: auto;
			}
			.h6 {
				display: block;
				margin-bottom: rem(12);
			}
			p {
				margin-bottom: rem(18);
				line-height: 1.7;
			}
		}
		&__btn {
			--bs-btn-padding-y: #{rem(10)};
			--bs-btn-padding-x: #{rem(18)};
			--bs-btn-font-weight: 600;
			--bs-border-width: 2px;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSimilar