mixin sSimilar(data)
	// start sSimilar
	+b.sSimilar.section#sSimilar&attributes(attributes)
		.container
			+b.section-title
				.h3 Похожее из блога
			+e.row.row
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-1.jpg`, `Консультируем и помогаем подобрать навес под авто в загородный дом`, `Мы&nbsp;предлагаем готовые к&nbsp;установке ограждения из&nbsp;профнастила, экологичных деревянных материалов...`, `12&nbsp;июн&nbsp;23`, `Читать подробнее`)
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-2.jpg`, `Преимущества готовых ограждений`, `Мы&nbsp;предлагаем готовые к&nbsp;установке ограждения из&nbsp;профнастила, экологичных деревянных материалов...`, `12&nbsp;июн&nbsp;23`, `Читать подробнее`)
				.col-md-6.col-xl-4
					+categoryItem(`categoryItem-7.jpg`, `Все о воротах`, `Мы&nbsp;предлагаем готовые к&nbsp;установке ограждения из&nbsp;профнастила, экологичных деревянных материалов...`, `12&nbsp;июн&nbsp;23`, `Читать подробнее`)
	// end sSimilar