mixin sFullPriceList(data)
	// start sFullPriceList
	+b.sFullPriceList.section#sFullPriceList&attributes(attributes)
		.container
			+e.row.row
				.col-lg-3.order-lg-last.sticky-content-js
					+navBlock()
						+e.item(href='#1').active Цены на заборы из профнастила
						+e.item(href='#2') Цены на заборы из евроштакетника
						+e.item(href='#3') Цены на заборы из рабицы
						+e.item(href='#4') Цены на заборы из 3Д сетки
						+e.item(href='#5') Цены на навесы
						+e.item(href='#6') Цены на ворота
						+e.item(href='#7') Цены на ленточный фундамент
						+e.item(href='#8') Цена на каркас для забора
				.col-lg-9
					ol.hrefs-js
						li(id='1')
							.h3 Цены на заборы из профнастила
							+ddGroup
								+ddGroupItem('Стоимость забора из&nbsp;оцинкованного профнастила на&nbsp;2-х металлических лагах, цена за&nbsp;погонный метр. Установка стандарт.')
									+customTable('', true)
										//- block th
										//- 	th Высота погонного метра
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										+tr('h-1,5 м', '1200 руб / 1350 руб / 1450 руб')
										+tr('h-1,8 м', '1350 руб / 1450 руб / 1550 руб')
										+tr('h-2,0 м', '1450 руб / 1550 руб / 1650 руб')
								+ddGroupItem('Стоимость забора из&nbsp;оцинкованного профнастила на&nbsp;2-х металлических лагах, цена за&nbsp;погонный метр. Установка между столбов.')
									+customTable('', '', true).--columns
										//- block th
										//- 	th Высота погонного метра
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										+tr('', '', 'h-1,5 м', '1200 руб / 1350 руб / 1450 руб', '1200 руб / 1350 руб / 1450 руб') 
										+tr('', '', 'h-1,5 м', '1200 руб / 1350 руб / 1450 руб', '1200 руб / 1350 руб / 1450 руб')
										+tr('', '', 'h-1,8 м', '1350 руб / 1450 руб / 1550 руб', '1350 руб / 1450 руб / 1550 руб')
										+tr('', '', 'h-2,0 м', '1450 руб / 1550 руб / 1650 руб', '1450 руб / 1550 руб / 1650 руб')
								+ddGroupItem('Стоимость забора из&nbsp;оцинкованного профнастила на&nbsp;2-х металлических лагах, цена за&nbsp;погонный метр, (Medium) Установка на&nbsp;сваи.')
									+customTable('', true)
										//- block th
										//- 	th Высота погонного метра
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										+tr('h-1,5 м', '1200 руб / 1350 руб / 1450 руб')
										+tr('h-1,8 м', '1350 руб / 1450 руб / 1550 руб')
										+tr('h-2,0 м', '1450 руб / 1550 руб / 1650 руб')
								+ddGroupItem('Стоимость забора из&nbsp;оцинкованного профнастила на&nbsp;2-х металлических лагах, цена за&nbsp;погонный метр. Установка стандарт.')
									+customTable('', '', true).--columns
										//- block th
										//- 	th Высота погонного метра
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										+tr('', '', 'h-1,5 м', '1200 руб / 1350 руб / 1450 руб', '1200 руб / 1350 руб / 1450 руб') 
										+tr('', '', 'h-1,5 м', '1200 руб / 1350 руб / 1450 руб', '1200 руб / 1350 руб / 1450 руб')
										+tr('', '', 'h-1,8 м', '1350 руб / 1450 руб / 1550 руб', '1350 руб / 1450 руб / 1550 руб')
										+tr('', '', 'h-2,0 м', '1450 руб / 1550 руб / 1650 руб', '1450 руб / 1550 руб / 1650 руб')
								+ddGroupItem('Стоимость забора из&nbsp;оцинкованного профнастила на&nbsp;2-х металлических лагах, цена за&nbsp;погонный метр. Установка между столбов.')
									+customTable('', true)
										//- block th
										//- 	th Высота погонного метра
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										+tr('h-1,5 м', '1200 руб / 1350 руб / 1450 руб')
										+tr('h-1,8 м', '1350 руб / 1450 руб / 1550 руб')
										+tr('h-2,0 м', '1450 руб / 1550 руб / 1650 руб')
								+ddGroupItem('Стоимость забора из&nbsp;оцинкованного профнастила на&nbsp;2-х металлических лагах, цена за&nbsp;погонный метр. Установка стандарт.')
									+customTable('', '', true).--columns
										//- block th
										//- 	th Высота погонного метра
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										+tr('', '', 'h-1,5 м', '1200 руб / 1350 руб / 1450 руб', '1200 руб / 1350 руб / 1450 руб') 
										+tr('', '', 'h-1,5 м', '1200 руб / 1350 руб / 1450 руб', '1200 руб / 1350 руб / 1450 руб')
										+tr('', '', 'h-1,8 м', '1350 руб / 1450 руб / 1550 руб', '1350 руб / 1450 руб / 1550 руб')
										+tr('', '', 'h-2,0 м', '1450 руб / 1550 руб / 1650 руб', '1450 руб / 1550 руб / 1650 руб')
								+ddGroupItem('Стоимость забора из оцинкованного профнастила на 2-х металлических лагах, цена за погонный метр. Установка между столбов.')
									+customTable('', true)
										//- block th
										//- 	th Высота погонного метра
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										+tr('h-1,5 м', '1200 руб / 1350 руб / 1450 руб')
										+tr('h-1,8 м', '1350 руб / 1450 руб / 1550 руб')
										+tr('h-2,0 м', '1450 руб / 1550 руб / 1650 руб')
								+ddGroupItem('Стоимость забора из&nbsp;оцинкованного профнастила на&nbsp;2-х металлических лагах, цена за&nbsp;погонный метр, (Medium) Установка на&nbsp;сваи.')
									+customTable('', '', true).--columns
										//- block th
										//- 	th Высота погонного метра
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										+tr('', '', 'h-1,5 м', '1200 руб / 1350 руб / 1450 руб', '1200 руб / 1350 руб / 1450 руб') 
										+tr('', '', 'h-1,5 м', '1200 руб / 1350 руб / 1450 руб', '1200 руб / 1350 руб / 1450 руб')
										+tr('', '', 'h-1,8 м', '1350 руб / 1450 руб / 1550 руб', '1350 руб / 1450 руб / 1550 руб')
										+tr('', '', 'h-2,0 м', '1450 руб / 1550 руб / 1650 руб', '1450 руб / 1550 руб / 1650 руб')
						li(id='2')
							.h3 Цены на заборы из евроштакетника
							+ddGroup
								+ddGroupItem('Стоимость забора из&nbsp;оцинкованного профнастила на&nbsp;2-х металлических лагах, цена за&nbsp;погонный метр. Установка стандарт.')
									+customTable('', true)
										//- block th
										//- 	th Высота погонного метра
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										+tr('h-1,5 м', '1200 руб / 1350 руб / 1450 руб')
										+tr('h-1,8 м', '1350 руб / 1450 руб / 1550 руб')
										+tr('h-2,0 м', '1450 руб / 1550 руб / 1650 руб')
								+ddGroupItem('Стоимость забора из&nbsp;оцинкованного профнастила на&nbsp;2-х металлических лагах, цена за&nbsp;погонный метр. Установка между столбов.')
									+customTable('', '', true).--columns
										//- block th
										//- 	th Высота погонного метра
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										+tr('', '', 'h-1,5 м', '1200 руб / 1350 руб / 1450 руб', '1200 руб / 1350 руб / 1450 руб') 
										+tr('', '', 'h-1,5 м', '1200 руб / 1350 руб / 1450 руб', '1200 руб / 1350 руб / 1450 руб')
										+tr('', '', 'h-1,8 м', '1350 руб / 1450 руб / 1550 руб', '1350 руб / 1450 руб / 1550 руб')
										+tr('', '', 'h-2,0 м', '1450 руб / 1550 руб / 1650 руб', '1450 руб / 1550 руб / 1650 руб')
								+ddGroupItem('Стоимость забора из&nbsp;оцинкованного профнастила на&nbsp;2-х металлических лагах, цена за&nbsp;погонный метр, (Medium) Установка на&nbsp;сваи.')
									+customTable('', true)
										//- block th
										//- 	th Высота погонного метра
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										+tr('h-1,5 м', '1200 руб / 1350 руб / 1450 руб')
										+tr('h-1,8 м', '1350 руб / 1450 руб / 1550 руб')
										+tr('h-2,0 м', '1450 руб / 1550 руб / 1650 руб')
								+ddGroupItem('Стоимость забора из&nbsp;оцинкованного профнастила на&nbsp;2-х металлических лагах, цена за&nbsp;погонный метр. Установка стандарт.')
									+customTable('', '', true).--columns
										//- block th
										//- 	th Высота погонного метра
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										+tr('', '', 'h-1,5 м', '1200 руб / 1350 руб / 1450 руб', '1200 руб / 1350 руб / 1450 руб') 
										+tr('', '', 'h-1,5 м', '1200 руб / 1350 руб / 1450 руб', '1200 руб / 1350 руб / 1450 руб')
										+tr('', '', 'h-1,8 м', '1350 руб / 1450 руб / 1550 руб', '1350 руб / 1450 руб / 1550 руб')
										+tr('', '', 'h-2,0 м', '1450 руб / 1550 руб / 1650 руб', '1450 руб / 1550 руб / 1650 руб')
								+ddGroupItem('Стоимость забора из&nbsp;оцинкованного профнастила на&nbsp;2-х металлических лагах, цена за&nbsp;погонный метр. Установка между столбов.')
									+customTable('', true)
										//- block th
										//- 	th Высота погонного метра
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										+tr('h-1,5 м', '1200 руб / 1350 руб / 1450 руб')
										+tr('h-1,8 м', '1350 руб / 1450 руб / 1550 руб')
										+tr('h-2,0 м', '1450 руб / 1550 руб / 1650 руб')
								+ddGroupItem('Стоимость забора из&nbsp;оцинкованного профнастила на&nbsp;2-х металлических лагах, цена за&nbsp;погонный метр. Установка стандарт.')
									+customTable('', '', true).--columns
										//- block th
										//- 	th Высота погонного метра
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										+tr('', '', 'h-1,5 м', '1200 руб / 1350 руб / 1450 руб', '1200 руб / 1350 руб / 1450 руб') 
										+tr('', '', 'h-1,5 м', '1200 руб / 1350 руб / 1450 руб', '1200 руб / 1350 руб / 1450 руб')
										+tr('', '', 'h-1,8 м', '1350 руб / 1450 руб / 1550 руб', '1350 руб / 1450 руб / 1550 руб')
										+tr('', '', 'h-2,0 м', '1450 руб / 1550 руб / 1650 руб', '1450 руб / 1550 руб / 1650 руб')
								+ddGroupItem('Стоимость забора из оцинкованного профнастила на 2-х металлических лагах, цена за погонный метр. Установка между столбов.')
									+customTable('', true)
										//- block th
										//- 	th Высота погонного метра
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										+tr('h-1,5 м', '1200 руб / 1350 руб / 1450 руб')
										+tr('h-1,8 м', '1350 руб / 1450 руб / 1550 руб')
										+tr('h-2,0 м', '1450 руб / 1550 руб / 1650 руб')
								+ddGroupItem('Стоимость забора из&nbsp;оцинкованного профнастила на&nbsp;2-х металлических лагах, цена за&nbsp;погонный метр, (Medium) Установка на&nbsp;сваи.')
									+customTable('', '', true).--columns
										//- block th
										//- 	th Высота погонного метра
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										//- 	th Толщина листа 0.35/0.4/0.5 мм
										+tr('', '', 'h-1,5 м', '1200 руб / 1350 руб / 1450 руб', '1200 руб / 1350 руб / 1450 руб') 
										+tr('', '', 'h-1,5 м', '1200 руб / 1350 руб / 1450 руб', '1200 руб / 1350 руб / 1450 руб')
										+tr('', '', 'h-1,8 м', '1350 руб / 1450 руб / 1550 руб', '1350 руб / 1450 руб / 1550 руб')
										+tr('', '', 'h-2,0 м', '1450 руб / 1550 руб / 1650 руб', '1450 руб / 1550 руб / 1650 руб')
			+e.description
				.h3 Описание для прайс-листа
				p Монтаж осуществляется под ключ как в&nbsp;Москве, так и&nbsp;области. Стоимость работ рассчитывается за&nbsp;погонный метр. В&nbsp;нее уже входят подготовительные и&nbsp;монтажные работы, материалы и&nbsp;комплектующие. Мы&nbsp;проконсультируем вас по&nbsp;любым вопросам, и&nbsp;подберем профнастил для установки на&nbsp;вашем участке.
				p Для заказа нет необходимости посещать наш офис. Достаточно позвонить по&nbsp;телефону или написать нам, и&nbsp;наш замерщик приедет бесплатно в&nbsp;удобное для вас время. Перед тем как купить и&nbsp;заказать, вы&nbsp;можете самостоятельно рассчитать его стоимость с&nbsp;помощью нашего калькулятора.
				p Кроме того, наша команда специалистов подберет вам дополнительные элементы, такие как калитки, ворота и&nbsp;ограждения для мусорных контейнеров. Ограждения подойдут для домов, дач, строительных площадок, коммерческих и&nbsp;производственных объектов. Мы&nbsp;гарантируем качественное выполнение услуг под ключ, а&nbsp;также предоставляем гарантию на&nbsp;выполненные работы.
	// end sFullPriceList