mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.row.row
				+e.col.col-lg-6
					+e.wrap
						h1 Изготовление и&nbsp;установка ограждений под ключ 
							span в&nbsp;Москве и&nbsp;Московской области
						p Осуществляем бесплатную бережную доставку в&nbsp;любой день недели при заказе
						+e.btn.btn.btn-secondary(href='#') Вызвать замерщика
				.col-lg-6
					+e.img-wrap: img(src='img/headerblock-bg-1.jpg').object-fit-js
		+e.advantages
			.container
				.row
					mixin item(icon, text)
						+e.item
							.icon-wrap: +icon(icon)
							p!= text
					.col-lg-auto: +item('headerBlock-icon-1', 'Работаем на&nbsp;рынке изготовления и&nbsp;установки ограждений с&nbsp;2015 года')
					.col-lg-auto: +item('headerBlock-icon-2', 'Цены на&nbsp;сайте актуальны и&nbsp;действительны, в&nbsp;отличии от&nbsp;конкурентов')
					.col-lg-auto: +item('headerBlock-icon-3', 'Возможна покупка ограждения в&nbsp;кредит от&nbsp;наших банков-партнеров')
					.col-auto.ms-auto.d-none.d-lg-block
						+e.scroll(href='#')
							.icon-wrap: +icon('chevron-down')
							| Листайте вниз
	// end headerBlock