mixin sPriceList(data)
	// start sPriceList
	+b.SECTION.sPriceList.section#sPriceList&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Прайс-лист 
					span на&nbsp;заборы из&nbsp;профнастила
			+customTable('Из&nbsp;оцинкованного листа за&nbsp;погонный метр: cтолбы 60*60&nbsp;на 2-х металлических лагах')
				+tr('Высота погонного метра', 'Толщина листа 0.35/0.4/0.5 мм')
				+tr('h-1,5 м', '1200 руб / 1350 руб / 1450 руб')
				+tr('h-1,8 м', '1350 руб / 1450 руб / 1550 руб')
				+tr('h-2,0 м', '1450 руб / 1550 руб / 1650 руб')
			+customTable('Стоимость забора из&nbsp;оцинкованной сетки рабица в&nbsp;натяг за&nbsp;погонный метр: Столбы 60*30 , толщина сетки 1.8&nbsp;мм, толщина протяжки 0.8&nbsp;мм').--other-columns
				//- +tr('', '', 'Высота погонного метра', 'Без протяжек', 'В одну протяжку', 'В две протяжки')
				//- +tr('', '', 'h-1,5 м.', '700 руб', '750 руб', '800 руб')
				+tr('', '', 'Высота погонного метра', 'h-1,5 м.')
				+tr('', '', 'Без протяжек', '700 руб')
				+tr('', '', 'В одну протяжку', '750 руб')
				+tr('', '', 'В две протяжки', '800 руб')
			.alert.alert-primary 
				+iconC('attention')
				| Стоимость указана на профнастил марки С-8. Цены на профлист марок С-20 и С-21 уточняйте у менеджеров.
			+e.btn.btn.btn-secondary(data-fancybox="modal" data-type="ajax" href='modal/call.html') Оставить заявку
	// end sPriceList