mixin sAbout(i, h, btn)
	// start sAbout
	+b.SECTION.sAbout.section&attributes(attributes)
		.container
			+e.row.row
				+e.content-col.col-lg-6
					+e.content
						h2!= h
						+e.img-wrap
							.img-wrap-center
								+img(`img/sAbout-${i}.jpg`, 'bg')
						if block
							block
						else
							p Для дома: профнастил и&nbsp;евроштакетник&nbsp;&mdash; самые популярные виды, которые заказывают для частного дома или коттеджа. Для дачного участка: сетка рабица, так как самый дешевый вид забора. Для дачи ее&nbsp;заказывают чаще всего. <br> <br> Каждый клиент сам выбирает, из&nbsp;чего будет изготовлено ограждение. 
								span Можно комбинировать, и&nbsp;использовать для лицевой стороны например профнастил, а&nbsp;остальные стороны построить из&nbsp;рабицы или других дешевых материалов. Вы&nbsp;можете самостоятельно рассчитать стоимость установки, в&nbsp;разделе калькулятор. Но&nbsp;самый простой и&nbsp;верный способ, это вызвать замерщика, который не&nbsp;только рассчитает точную стоимость, но&nbsp;и&nbsp;проконсультирует по&nbsp;вашим вопросам и&nbsp;поможет подобрать забор. <br> <br> У&nbsp;нас вы&nbsp;можете оплатить работу как наличными, так и&nbsp;банковской картой. Так&nbsp;же доступен вариант покупки в&nbsp;кредит, через нашего официального партнера &laquo;Кредит Европа Банк&raquo;.
						+e.show-more Показать еще
						if btn
							+e.btn.btn.btn-secondary(href='#')!=btn
				//- +e.col.col-lg-6.d-none.d-lg-block
				//- 	+e.img-wrap
				//- 		.img-wrap-center
				//- 			+img(`img/sAbout-${i}.jpg`, 'bg')
	// end sAbout

mixin sAbout2
	// start sAbout
	+b.SECTION.sAbout--text.section&attributes(attributes)
		.container
			h2 О  компании 
				span Заборпроф
			p Компания &laquo;Лига заборов&raquo; предлагает купить забор в&nbsp;Москве с&nbsp;установкой под ключ по&nbsp;доступным ценам. Мы&nbsp;имеем огромный опыт производства и&nbsp;установки ограждений любого типа. На&nbsp;все виды заборов распространяется гарантия от&nbsp;2х&nbsp;лет. В&nbsp;удобное для вас время, на&nbsp;объект приедет специалист для проведения замера и&nbsp;расчета стоимости забора. Благодаря профессионализму и&nbsp;опыту наших мастеров, изгородь станет не&nbsp;только надежной защитой вашего дома, но&nbsp;и&nbsp;придаст участку завершенный вид.
			p Наши мастера выполнят строительство недорогих заборов для загородных домов, дач, коттеджей в&nbsp;Московской области. Заказчик получит полный комплекс работ. Ограждения выполняются из&nbsp;металла, дерева, кирпича, бетона. Поможем определиться с&nbsp;выбором материала, а&nbsp;также с&nbsp;видом изгороди для дачного участка. Для заказа услуги достаточно позвонить на&nbsp;наш номер телефона или заполнить заявку по&nbsp;форме обратной связи на&nbsp;сайте.