mixin sAbout(i, h, btn)
	// start sAbout
	+b.SECTION.sAbout.section&attributes(attributes)
		.container
			+e.row.row
				+e.content-col.col-lg-6
					+e.content
						h2!= h
						+e.img-wrap
							.img-wrap-center
								+img(`img/sAbout-${i}.jpg`, 'bg')
						p Для дома: профнастил и&nbsp;евроштакетник&nbsp;&mdash; самые популярные виды, которые заказывают для частного дома или коттеджа. Для дачного участка: сетка рабица, так как самый дешевый вид забора. Для дачи ее&nbsp;заказывают чаще всего.

						p Каждый клиент сам выбирает, из&nbsp;чего будет изготовлено ограждение. 
							span Можно комбинировать, и&nbsp;использовать для лицевой стороны например профнастил, а&nbsp;остальные стороны построить из&nbsp;рабицы или других дешевых материалов. Вы&nbsp;можете самостоятельно рассчитать стоимость установки, в&nbsp;разделе калькулятор. Но&nbsp;самый простой и&nbsp;верный способ, это вызвать замерщика, который не&nbsp;только рассчитает точную стоимость, но&nbsp;и&nbsp;проконсультирует по&nbsp;вашим вопросам и&nbsp;поможет подобрать забор.

						p У&nbsp;нас вы&nbsp;можете оплатить работу как наличными, так и&nbsp;банковской картой. Так&nbsp;же доступен вариант покупки в&nbsp;кредит, через нашего официального партнера &laquo;Кредит Европа Банк&raquo;.
						+e.show-more Показать еще
						if btn
							+e.btn.btn.btn-secondary(href='#')!=btn
				//- +e.col.col-lg-6.d-none.d-lg-block
				//- 	+e.img-wrap
				//- 		.img-wrap-center
				//- 			+img(`img/sAbout-${i}.jpg`, 'bg')
	// end sAbout