extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sSteps/_sSteps.pug
include ../blocks/sWhy/_sWhy.pug
include ../blocks/sGallery/_sGallery.pug
include ../blocks/sOrder/_sOrder.pug

block variables
	- let  mainPage= 'static-page' 
	- let  bg= '05-static.jpg'

block title
	- let  title= 'О компании'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('О&nbsp;компании Заборпроф&nbsp;&mdash; профессионалы в&nbsp;сфере ограждений для вашего дома', true, 'page-head-bg-4.jpg', 'О компании')
		+sAbout2
		+sAbout(3, `Почему клиенты <span> выбирают нас</span>`).sAbout--3.bg-white
		+sSteps
		+sWhy
		+sGallery2.bg-white
		+sOrder
	+parts('footer')
      



