extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sThanks/_sThanks.pug

block variables
	- let  mainPage= 'article-page' 
	- let  bg= '02-card-service.jpg'

block title
	- let  title= 'Блог'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('', '', '', 'Блог', 'Преимущества готовых ограждений от ЗаборПроф').mb-0
		+headerBlock2()
		+sContent()
	+parts('footer')
      



