extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sSimilar/_sSimilar.pug
include ../blocks/sOrder/_sOrder.pug

block variables
	- let  mainPage= 'article-page' 
	- let  bg= '10-article.jpg'

block title
	- let  title= 'Блог'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('', '', '', 'Блог', 'Преимущества готовых ограждений от ЗаборПроф').mb-0
		+headerBlock2()
		+sContent()
			+e.row.row
				.col-lg-8
					h2 H2. Заголовок
					p Наша компания &laquo;Мастера Заборов&raquo; рада приветствовать Вас на&nbsp;своем официальном сайте! Мы&nbsp;с&nbsp;гордостью предлагаем своим клиентам производство заборов самых разнообразных видов и&nbsp;последующую их&nbsp;установку. Более чем пять лет своего существования наша компания успела заслужить репутацию по&nbsp;строительству заборов.
					h3 H3. Заголовок
					p В&nbsp;фотогалерее готовой продукции на&nbsp;нашем сайте вы&nbsp;легко сможете найти забор, соответствующий вашему вкусу. Кроме того, мы&nbsp;всегда готовы выполнить заказ на&nbsp;изготовление забора по&nbsp;индивидуальному проекту.
					+img('img/sContent-img-1.jpg').res-i
					h4 H4. Заголовок
					p Мы&nbsp;всегда стремимся сделать все возможное, чтобы наше с&nbsp;вами сотрудничество стало еще более приятным и&nbsp;продуктивным. Строительство заборов начинается с&nbsp;замера территории и&nbsp;разработки проекта. Опытный специалист компании.
					h5 H5. Заголовок
					ul
						li Объем
						li Количество осей
						li Материал
						li Изоляция
						li Количество отсеков
						li Оси
					h6 H6. Заголовок
					p.mb-0 Мы&nbsp;всегда стремимся сделать все возможное, чтобы наше с&nbsp;вами сотрудничество стало еще более приятным и&nbsp;продуктивным. Строительство заборов начинается с&nbsp;замера территории и&nbsp;разработки проекта. Опытный специалист компании.
				.col-lg-4
					.sticky-content-js
						+form-wrap.sticky-js
							+e.send-feendback
								.row
									.col-12
										+e.title.h5 Получить расчет ограждения
										p Оставьте заявку и мы свяжемся с Вами в ближайшее время!
									.col-12
										+input('Ваше имя', 'text')
									.col-12
										+input('Ваш телефон', 'tel')
									.col-12
										+e.BUTTON.btn.btn.btn-secondary Отправить заявку
									.col-12
										+policy()
		+sSimilar()
		+sOrder
	+parts('footer')
      



