extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sCategories/_sCategories.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sSteps/_sSteps.pug
include ../blocks/sGallery/_sGallery.pug
include ../blocks/sWhy/_sWhy.pug
include ../blocks/sCaptures/_sCaptures.pug
include ../blocks/sOrder/_sOrder.pug
include ../blocks/sSlider/_sSlider.pug
include ../blocks/sContactInfo/_sContactInfo.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+headerBlock
		+sCategories
		+sAbout(1, `<span>Заборы для дома и дачи</span> от&nbsp;производителя`)
		+sSteps
		+sGallery
		+sWhy
		+sAbout(2, `О компании <span>ЗаборПроф в Москве</span>`, 'Подробнее о компании', 'png').sAbout--2
		+sCaptures()
		+sAbout(3, `<span>Что нужно знать</span> перед покупкой забора`).bg-white
		+sOrder
		+sSlider()
		+sContactInfo
	+parts('footer')
      



