mixin sWhy(data)
	// start sWhy
	+b.SECTION.sWhy.section#sWhy&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Почему клиент #[span выбирают нас]
			+e.row.row
				mixin item(icon, title, text)
					+e.item
						+img(`img/svg/${icon}`)
						.h6!= title
						p!= text
				.col-lg-3
					+item('sWhy-icon-1.svg', 'Бесплатная доставка', 'Бережная своевременная доставка в&nbsp;любой день недели')
					+item('sWhy-icon-2.svg', 'Бесплатный замер', 'При заключении договора замер бесплатно')
				+e.img-col.col-lg-6.d-none.d-lg-flex: +img('img/sWhy-img-1.png').res-i
				.col-lg-3
					+item('sWhy-icon-3.svg', 'Соблюдение сроков', 'Соблюдаем сроки сдачи проектов и&nbsp;несем финансовую ответственность за&nbsp;каждый день просрочки')
					+item('sWhy-icon-4.svg', 'Гарантия на работу', 'Мы&nbsp;предоставляем гарантию качества выполненных работ. Мы&nbsp;исправим любые недочеты бесплатно в&nbsp;течение 2&nbsp;лет')
				.col-lg-3.ms-auto.me-auto 
					+item('sWhy-icon-5.svg', 'Гарантия низкой цены', 'Предоставляем эксклюзиивные цены от&nbsp;производителей')
			+e.btn.btn.btn-secondary(href='#') Отправить заявку
	// end sWhy