include ../../layout/include.pug

+b.modal-win
	.row
		+e.col.col-md
			+form-wrap 
				+e.title.h4 Заказать звонок
				p.after-headline Оставьте заявку и&nbsp;мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время!
				+input("Ваше имя",'text')
				+input("Ваш телефон",'tel')
				+e.BUTTON.btn.btn(type="submit").btn-secondary.w-100 Отправить заявку
				+policy
		.col-md.d-none.d-lg-block
			+img('img/modal-bg.png').img