include ../../layout/include.pug

+b.modal-win--cityChoose
  +form-wrap
    +e.title.form-data.h4 Выберите город
    +input("Ваш город",'text').input-search
      button.btn.btn--input.btn-close-js(type="button")
        +icon('close')
    +e.scroll-list
      ul
        mixin listItem(city)
          li&attributes(attributes)
            a(href="#")!= city
        +listItem(`Москва`).active
        +listItem(`Балашиха`)
        +listItem(`Бронницы`)
        +listItem(`Видное`)
        +listItem(`Волоколамск`)
        +listItem(`Дзержинск`)
        +listItem(`Дмитров`)
        +listItem(`Екатеринбург`)
        +listItem(`Иркутск`)
        +listItem(`Кемерово`)
        +listItem(`Красноярск`)
        +listItem(`Новосибирск`)
        +listItem(`Омск`)
        +listItem(`Оренбург`)
        +listItem(`Пермь`)
        +listItem(`Ростов-на-Дону`)
        +listItem(`Самара`)
        +listItem(`Саратов`)
        +listItem(`Томск`)
        +listItem(`Тула`)
        +listItem(`Тюмень`)
        +listItem(`Улан-Удэ`)
        +listItem(`Хабаровск`)
        +listItem(`Якутск`)
        +listItem(`Балашиха`)
        +listItem(`Бронницы`)
        +listItem(`Видное`)
        +listItem(`Волоколамск`)
        +listItem(`Дзержинск`)
        +listItem(`Дмитров`)
        +listItem(`Екатеринбург`)
        +listItem(`Иркутск`)
        +listItem(`Кемерово`)
        +listItem(`Красноярск`)
        +listItem(`Новосибирск`)
        +listItem(`Омск`)
        +listItem(`Оренбург`)
        +listItem(`Пермь`)
        +listItem(`Ростов-на-Дону`)
        +listItem(`Самара`)
        +listItem(`Саратов`)
        +listItem(`Томск`)
        +listItem(`Тула`)
        +listItem(`Тюмень`)
        +listItem(`Улан-Удэ`)
        +listItem(`Хабаровск`)
        +listItem(`Якутск`)