.form-wrap {
	&__input-wrap {
		// @extend .form-group;
	}
	&__input {
		// @extend .form-control;
		//  outline: 0 !important;
		resize: none;
		&:focus {
			box-shadow: 0px 6px 12px 0px rgba(5, 5, 5, 0.12);
		}
	}
	&__input-title {
		display: inline-block;
		line-height: calc(20 / 16);
		margin-bottom: rem(12);
	}

	&__btn {
		cursor: pointer;
	}
	label {
		width: 100%;
		display: block;
	}
	&__policy {
		.custom-input {
			--bs-border-color: #{$gray-300};
			display: flex;
			align-items: center;
			padding-left: 0;
			margin-bottom: 0;
			min-height: unset;
			&__input {
				float: none;
				margin: 0;
				margin-right: rem(12);
				flex-shrink: 0;
				width: rem(24);
				height: rem(24);
				&:focus {
					box-shadow: none;
				}
			}
			&__text {
				font-size: rem(14);
				font-weight: 500;
				line-height: 1.4;
				display: inline-block;
				a {
					display: inline-block;
					color: #fff;
					&:hover {
						color: $secondary;
					}
				}
			}
		}
	}
	.form-control {
		&.is-invalid,
		&.is-valid {
			background-image: none;
			padding-right: $input-padding-x;
			&:focus {
				box-shadow: 0 6px 12px rgba(5, 5, 5, 0.12);
			}
		}
	}
	.form-select {
		&:focus {
			box-shadow: 0 6px 12px rgba(5, 5, 5, 0.12);
		}
	}
}


//
@include media-breakpoint-up(xl) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(xs) {}
@include media-breakpoint-between(md, xl) {}
@include media-breakpoint-only(xl) {}
@include media-breakpoint-down(xs) {}

.form-check {
}
.form-check-input {
}
.form-check-label {
}


input[type='number'] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}

.select2-container--default .select2-selection--single {
	@extend .form-select;
	height: auto !important;
	padding-left: rem(10);
}

.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	padding: 0;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__arrow {
	display: none;
}

.custom-input {
	&__input {
		&:checked {
			background-color: #fff;
			border-color: $gray-300;
		}
	}
}