mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.wrap
				+e.row.row
					.col-auto.me-auto
						+e.logo(href="/"): +img('img/svg/logo.svg')
					.col-auto.d-none.d-lg-flex
						+e.catalog.d-none.d-lg-flex
							span
							| Каталог
					+e.col.col-auto.col-lg
						.menu-mobile.menu-mobile--js
							.menu-mobile__inner
								+contactUs.d-lg-none
								+e.catalog.d-lg-none
									| Каталог
									+icon('chevron-right')
								+e.btn.d-lg-none(href='#')
									+icon('wallet')
									| Прайс-лист
								+e.btn.d-lg-none(href='#')
									+icon('calc')
									| Калькулятор
								+mnu(true)
								+e.inner-wrap.d-lg-none
									+e.city(href='#')
										| Ваш город: 
										span Москва
										+icon('chevron-down')
									+e.address(href='#') 125481, г. Москва, ул. Фомичевой, д.&nbsp;16, корп.&nbsp;3, эт.&nbsp;1, пом.&nbsp;252, оф. 2к.
									+e.work Работаем без выходных с 8:00 до 20:00
									+e.email(href='mailto:info@masterazoborov.ru') info@masterazoborov.ru
									+e.inner-btn.btn.btn-secondary(data-fancybox data-type="ajax" href='modal/call.html') Заказать звонок
					.col-auto.d-none.d-lg-block
						+e.btn.btn.btn-primary(href='#')
							+icon('wallet')
							| Прайс-лист
					.col-auto.d-none.d-lg-block
						+e.btn.btn.btn-outline-primary(href='#')
							+icon('calc')
							| Калькулятор
					.col-auto.d-lg-none: +e.call(href='#'): +icon('call')
					.col-auto.d-lg-none: +e.call(href='#'): +iconC('whatsapp')
					.col-auto.d-lg-none
						+menu-toggle()
		+categoryDropdown
	// end top-nav