 
	  
.soc{
	@include roww(12px, '', m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.iconC{
		font-size: rem(20);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon{
		font-size: rem(20);
		border: none !important;
	}
	button{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-slider--js {
	overflow: visible;
	.swiper-wrapper {
		margin: 0 auto var(--bs-breadcrumb-margin-bottom);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(24);
		}
	}
}

.breadcrumb {
	position: relative;
	flex-wrap: nowrap;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: -50vw;
		width: 200vw;
		height: 100%;
		z-index: -1;
		background-color: $breadcrumb-bg;
	}
	&-item {
		width: auto;
		line-height: 1.4;
		& + & {
			&:before {
				width: rem(20);
				height: rem(20);
			}
		}
		&.active {
			a {
				color: #fff;
			}
		}
		a {
			color: rgba(255, 255, 255, 0.60);
			&:hover {
				color: #fff;
			}
		}
	}
}

.page-head {
	margin-bottom: rem(36);
	@include media-breakpoint-up(lg) {
		margin-bottom: rem(60);
	}
	&__img-wrap {
		@include block(220, 324);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 8px;
		overflow: hidden;
		z-index: 1;
		padding: rem(18);
		@include media-breakpoint-up(lg) {
			--ratio: 1272/480;
		}
		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: -1;
			background-image: linear-gradient(180deg, rgba(34, 34, 34, 0.00) 0%, #222 100%);
		}
		h1 {
			max-width: rem(840);
			margin-bottom: 0;
			text-align: center;
			color: #fff;
		}
	}
	&--description {
		.page-head__img-wrap {
			border-radius: 8px 8px 0 0;
			@include media-breakpoint-up(lg) {
				border-radius: 8px;
			}
		}
	}
}

.contact-us {
	width: calc(100% - rem(36));
	margin-left: auto;
	margin-right: auto;
	border-radius: 6px;
	border: 1px solid $gray-300;
	margin-bottom: rem(18);
	.soc {
		--bs-gutter-x: 0;
		flex-wrap: wrap;
		&__item {
			width: calc(100% / 3 - var(--bs-gutter-x));
			padding: rem(12);
			flex-grow: 1;
			border-right: 1px solid $gray-300;
			line-height: 1.4;
			&:hover {
				background-color: $gray-300;
			}
			&:first-child,
			&:last-child {
				border-right: none;
			}
			&--tel {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				color: $gray-900;
				font-weight: 700;
				border-bottom: 1px solid $gray-300;
				padding: rem(11.5) rem(12);
				.icon {
					flex: 0 0 auto;
					font-size: rem(20);
					color: $secondary;
					margin-right: rem(6);
				}
			}
		}
	}
}

.category-dropdown {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	@include media-breakpoint-down(lg) {
		@include mt;
		height: calc(var(--vh) * 100);
		transform: translateX(100%);
		overflow-y: auto;
		overflow-x: hidden;
		display: block !important;
		&.active {
			transform: none;
		}
	}
	@include media-breakpoint-up(lg) {
		top: calc(100% + rem(1));
		position: absolute;
		padding: rem(48) 0;
		border-radius: 0px 0px 10px 10px;
		display: none;
	}
	.container {
		position: relative;
		@include media-breakpoint-down(lg) {
			--bs-gutter-x: 0;

			max-width: 100%;
		}
	}
	&__item {
		&.active {
			@include media-breakpoint-up(lg) {
				.category-dropdown__category {
					background-color: $gray-100;
					border-left-color: $primary;
				}
				.category-dropdown__content-col {
					z-index: 1;
				}
				.category-dropdown__content {
					opacity: 1;
					pointer-events: all;
				}
			}
		}
	}
	&__row {
		--bs-gutter-x: 0;
		--bs-gutter-y: 0;
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: 0;
			--bs-gutter-y: 0;
		}
	}
	&__category {
		@include mt;
		display: flex;
		align-items: center;
		padding: rem(12) rem(15);
		border-left: 3px solid #fff;
		font-weight: 600;
		line-height: 1.4;
		@include media-breakpoint-down(lg) {
			background-color: $gray-100;
			border-left-color: $primary;
		}
		@include media-breakpoint-up(lg) {
			padding: rem(12) rem(21);
			width: rem(300);
			font-weight: 500;
			border-right: 1px solid $gray-300;
			cursor: pointer;
		}
		&:hover {
			background-color: $gray-100;
			border-left-color: $gray-100;
		}
		.iconC {
			flex: 0 0 auto;
			margin-right: rem(12);
		}
	}
	&__content-col {
		@include media-breakpoint-up(lg) {
			position: absolute;
			top: 0;
			left: rem(318);
			width: calc(100% - rem(300) - rem(36));
			z-index: -1;
		}
	}
	&__content {
		@include media-breakpoint-up(lg) {
			padding: rem(19) rem(24);
			opacity: 0;
			pointer-events: none;
		}
		ul {
			margin-bottom: 0;
			@include media-breakpoint-up(lg) {
				@include roww('', '18px');
				columns: 3;
			}
			li {
				display: inline-block;
				width: 100%;
				a {
					display: block;
					line-height: 1.4;
					@include media-breakpoint-down(lg) {
						border-bottom: 1px solid $gray-300;
						padding: rem(15.5) rem(18);
					}
				}
			}
		}
	}
	&__title {
		font-size: rem(18);
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: rem(24);
		display: none;
		@include media-breakpoint-up(lg) {
			display: block;
		}
	}
	&__back {
		@include mt;
		padding: rem(15.5) rem(18);
		display: flex;
		align-items: center;
		font-weight: 500;
		line-height: 1.4;
		cursor: pointer;
		&:hover {
			color: $primary;
		}
		.icon {
			flex: 0 0 auto;
			font-size: rem(20);
			margin-right: rem(6);
			color: $secondary;
		}
	}
}

.def-slider-js {
	position: relative;
}

.requisites {
	display: flex;
	align-items: center;
	line-height: 1.4;
	font-weight: 500;
	color: $body-color;
	font-size: rem(14);
	&:hover {
		color: $primary;
		span {
			color: $primary;
		}
	}
	.icon {
		flex: 0 0 auto;
		font-size: rem(20);
		color: $primary;
		margin-right: rem(6);
	}
	span {
		color: $gray-600;
	}
}

.categoryItem {
	@include mt;
	display: flex;
	align-items: center;
	position: relative;
	padding: rem(17);
	border-radius: 8px;
	border: 1px solid $gray-300;
	height: 100%;
	&:after {
		@include mt;
		content: '';
		position: absolute;
		display: block;
		width: calc(100% - rem(36));
		border-radius: 0px 4px 4px 0px;
		left: 50%;
		transform: translateX(-50%);
		bottom: rem(-1);
		height: rem(3);
		background-color: transparent;
		@include media-breakpoint-up(lg) {
			width: calc(100% - rem(48));
		}
	}
	&:hover {
		box-shadow: 0px 6px 12px 0px rgba(5, 5, 5, 0.12);
		border-color: #fff;
		.h6 {
			color: $primary;
		}
		&:after {
			background-color: $primary;
		}
	}
	@include media-breakpoint-up(lg) {
		padding: rem(23);
	}
	&__img-wrap {
		@include block(1,1);
		width: 100%;
		max-width: rem(60);
		border-radius: 8px;
		overflow: hidden;
		flex: 0 0 auto;
		margin-right: rem(18);
		@include media-breakpoint-up(lg) {
			max-width: rem(96);
			margin-right: rem(24);
		}
	}
	&__link {
		position: relative;
	}
	&__btn {
		position: relative;	
		z-index: 2;
	}
	&__date {
		color: $gray-600;
	}
	.h6 {
		@include mt;
		font-size: rem(14);
		line-height: 1.2;
		margin-bottom: rem(4.546);
		display: block;
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}
		@include media-breakpoint-up(lg) {
			font-size: rem(18);
		}
	}
	p {
		margin-bottom: 0;
		color: $gray-600;
		line-height: 1.4;
	}
}

.custom-table-wrap {
	table {
		width: 100%;
		tr {
			&:nth-child(odd) {
				td {
					background-color: #fff;
				}
			}
		}
		td {
			// padding: rem(10) rem(18);
			padding: rem(20) rem(3);
			font-size: rem(14);
			background-color: $gray-100;
			width: 50%;
			line-height: 1.429;
			@include media-breakpoint-up(lg) {
				padding: rem(20) rem(24);
				// font-size: rem(16);
				text-align: center;
			}
			@include media-breakpoint-down(lg) {
				&:first-child {
					padding-left: rem(18);
				}
				&:last-child {
					padding-right: rem(18);
				}
				&:nth-child(odd) {
					text-align: left;
				}
				&:nth-child(even) {
					text-align: right;
				}
			}
		}
	}
	&__table-head, th {
		padding: rem(20) rem(18);
		font-size: rem(14);
		color: #fff;
		line-height: 1.429;
		text-align: center;
		background-color: $primary;
		color: #fff;
		font-weight: 400;
		@include media-breakpoint-up(lg) {
			padding: rem(20) rem(24);
			// font-size: rem(16);
		}
	}
	&--other-columns {
		overflow-x: auto;
		overflow-y: hidden;
		table {
			min-width: rem(612);
		}
		tbody {
			display: flex;
			// flex-wrap: wrap;
			width: 100%;
			tr {
				display: flex;
				flex-direction: column;
				width: calc(100% / 4);
				min-width: rem(171);
				td {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					// min-height: 50%;
					flex-grow: 1;
					text-align: center !important;
					&:nth-child(odd) {
						height: 100%;
					}
					&:nth-child(1) {
						background-color: #fff
					}
					&:nth-child(2) {
						background-color: $gray-100;
					}
				}
			}
		}
		// @include media-breakpoint-up(lg) {
		// }
	}
}

.alert {
	display: flex;
	align-items: center;
	font-size: rem(14);
	font-weight: 500;
	border: none;
	@include media-breakpoint-up(lg) {
		padding: rem(18) rem(24);
		--bs-alert-margin-bottom: #{rem(48)};
	}
	svg {
		flex: 0 0 auto;
		font-size: rem(24);
		width: 1em;
		height: 1em;
		margin-right: rem(12);
		path {
			fill: currentColor;
		}
	}
	&-success {
		--bs-alert-color: #{$gray-900};
		--bs-alert-bg: rgba(8, 167, 109, 0.24);
		--bs-alert-border-color: rgba(8, 167, 109, 0.24);
		svg {
			color: #{$green};
		}
	}
}

.choiceOption {
	position: relative;
	height: 100%;
	// --btnSpace: #{rem(12)};
	// @include media-breakpoint-up(xl) {
	// 	--btnSpace: #{rem(12)};
	// }
	// @include media-breakpoint-only(lg) {
	// 	--btnSpace: #{rem(18)};
	// }
	label {
		display: block;
		height: 100%;
		&:hover {
			.choiceOption__btn {
				&::before {
					border-color: $secondary;
				}
			}
		}
	}

	&__btn {
		@include mt;
		position: relative;
		display: flex;
		align-items: center;
		padding: rem(18) rem(18) rem(18) rem(52);
		cursor: pointer;
		border-radius: rem(10);
		height: 100%;
		@include media-breakpoint-up(lg) {
			padding: rem(24) rem(24) rem(24) rem(58);
		}
		&::before {
			content: "";
			@include mt;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border: 2px solid $gray-300;
			border-radius: rem(10);
			z-index: -1;
		}
		// img,
		// svg {
		// 	flex-shrink: 0;
		// 	margin-right: var(--btnSpace);
		// 	width: rem(36);
		// 	height: auto;
		// }
		.iconC {
			font-size: rem(36);
			margin-right: rem(12);
			flex: 0 0 auto;
		}
		.h6 {
			font-size: rem(16);
			font-weight: 600;
			line-height: 1.5;
			margin-bottom: 0;
		}
	}
	input {
		@include a-cent(y);
		width: rem(24);
		height: rem(24);
		border: 2px solid #eff0f2;
		left: rem(16);

		background-size: rem(24);
		@include media-breakpoint-up(lg) {
			left: rem(22);
		}
		&:disabled {
			pointer-events: none;
			& + .choiceOption__btn {
				opacity: 0.5;
				pointer-events: none;
			}
		}
		&:focus {
			box-shadow: none;
		}
		&:checked {
			border-color: $secondary;
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' fill='white' stroke='%23EFF0F2'/%3E%3Crect x='1' y='1' width='22' height='22' rx='11' fill='white' stroke='%23EA2026' stroke-width='2'/%3E%3Crect x='6' y='6' width='12' height='12' rx='6' fill='%23EA2026'/%3E%3C/svg%3E%0A");
			& + .choiceOption__btn {
				&::before {
					border-color: $secondary;
				}
			}
		}
	}
}

.pagination-wrapper {
  ul {
		@include roww('6px');
		margin-bottom: 0;
		justify-content: center;
		li {
			& > * {
				display: flex;
				align-items: center;
				justify-content: center;
				width: rem(32);
				height: rem(32);
				border-radius: 10px;
				font-size: rem(14);
				font-weight: 500;
				line-height: 1.4;
				border: none ;
				@media screen and (min-width: 360px) {
					width: rem(40);
					height: rem(40);
				}
				@include media-breakpoint-up(lg) {
					width: rem(48);
					height: rem(48);
				}
				// &:hover {
				// 	background-color: $gray-100;
				// 	color: $body-color;
				// }
				&.current {
					background-color: $primary;
					color: #fff;
				}
				&.prev, &.next {
					@include mt;
					background-color: $secondary;
					color: #fff;
					&:hover {
						background-color: #FF3B41;
						color: #fff;
					}
				}
			}
			a {
				&:hover {
					background-color: $gray-100;
					color: $body-color;
				}
			}
		}
	}
}

.nav-block {
  &__content {
    border-left: 1px solid $gray-300;
    // padding: rem(7) 0;
    display: none;
    @include media-breakpoint-up(lg) {
      margin-top: 0;
      display: block;
    }
  }
  &__item {
    position: relative;
    display: block;
    font-size: rem(14);
		font-weight: 600;
		line-height: 1.4;
		color: $gray-600;
		padding: rem(12) 0 rem(12) rem(24);
    // @include media-breakpoint-up(lg) {
    // }
    &:before {
      @include mt;
      background-color: transparent;
      border-radius: 0 5px 5px 0;
      bottom: 0;
      content: "";
      display: block;
      height: 100%;
      left: -1px;
      position: absolute;
      transform: scaleX(0.3) scaleY(0);
      transform-origin: left;
      width: rem(3);
    }
    &:hover {
      color: $body-color;
      &:before {
        background-color: $primary;
        opacity: 1;
        transform: scaleX(1) scaleY(1);
      }
    }
    &.active {
      color: $body-color;
      &:before {
        background-color: $primary;
        opacity: 1;
        transform: scaleX(1) scaleY(1);
      }
    }
    span {
      font-size: rem(10);
      line-height: 1.4;
      margin-bottom: rem(6);
      color: $gray-500;
      display: block;
      @include media-breakpoint-up(md) {
        font-size: rem(14);
      }
    }
  }
  &__text {
    display: block;
    font-size: rem(12);
    padding: 0;
    line-height: 1.25;
    @include media-breakpoint-up(md) {
      font-size: rem(14);
    }
    &:not(:last-of-type) {
      margin-bottom: rem(12);
      @include media-breakpoint-up(md) {
        margin-bottom: rem(18);
      }
    }
  }
}

.dd-group {
	&__content {
		display: none;
	}
}