mixin sServiceHead(data)
	// start sServiceHead
	+b.SECTION.sServiceHead.section#sServiceHead&attributes(attributes)
		.container
			+e.credit
				+e.credit-head-row
					.row
						.col-lg 
							.h4 Цена: от 1350 р/м.п
						.col-lg-auto 
							+e.btn.btn.btn-secondary(href='#') Сделать заказ
						.col-lg-auto
							+e.btn.btn.btn-outline-primary(href='#') Заявка на кредит
				+e.credit-row
					.row
						.col-lg
							+img('img/svg/creditLogo.svg')
						.col-lg
							.h6 При оформлении кредита:
						.col-lg
							span Ставка
							p 14,9%
						.col-lg
							span Срок кредита
							p 12-84 мес.
						.col-lg
							span Сумма кредита
							p 100 000 - 6 000 000 руб
			+e.description
				.h3 Описание для забора из&nbsp;евроштакетника
				p Монтаж осуществляется под ключ как в&nbsp;Москве, так и&nbsp;области. Стоимость работ рассчитывается за&nbsp;погонный метр. В&nbsp;нее уже входят подготовительные и&nbsp;монтажные работы, материалы и&nbsp;комплектующие. Мы&nbsp;проконсультируем вас по&nbsp;любым вопросам, и&nbsp;подберем профнастил для установки на&nbsp;вашем участке.
				p Для заказа нет необходимости посещать наш офис. Достаточно позвонить по&nbsp;телефону или написать нам, и&nbsp;наш замерщик приедет бесплатно в&nbsp;удобное для вас время. Перед тем как купить и&nbsp;заказать, вы&nbsp;можете самостоятельно рассчитать его стоимость с&nbsp;помощью нашего калькулятора.
				p Кроме того, наша команда специалистов подберет вам дополнительные элементы, такие как калитки, ворота и&nbsp;ограждения для мусорных контейнеров. Ограждения подойдут для домов, дач, строительных площадок, коммерческих и&nbsp;производственных объектов. Мы&nbsp;гарантируем качественное выполнение услуг под ключ, а&nbsp;также предоставляем гарантию на&nbsp;выполненные работы.
	// end sServiceHead