mixin sContactInfo(data)
	// start sContactInfo
	+b.SECTION.sContactInfo.section#sContactInfo&attributes(attributes)
		.container
			+b.section-title
				h2 Контакты
				.row
					.col
						p Направьте свой запрос, наш специалист перезвонит в&nbsp;ближайшее время!
					.col-lg-4.col-xxl-3
						+e.item
							.icon-wrap: +icon('mail')
							div
								a.h5(href="mailto:info@zaborprof.ru") info@zaborprof.ru
								span по любым вопросам 
					.col-lg-4.col-xxl-3
						+e.item
							.icon-wrap: +icon('call2')
							div
								a.h5(href="tel:+74957411161") +7 (495) 741-11-61
								span с 8:00 до 21:00 пн-пт
			+form-wrap
				+e.callBack-row
					.row
						+e.col.col-12.col-lg-6.col-xl-auto.col-xxl
							+input('Ваше имя', 'text')
						+e.col.col-12.col-lg-6.col-xl-auto.col-xxl
							+input('Ваш телефон', 'tel').is-invalid
						.col-12.col-xl
							+e.send
								+policy
								+e.btn.BUTTON.btn.btn-secondary(type='submit') Заказать звонок
				+e.map-col
					script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=2066e304-cee0-4ed2-9cb2-5f6521d5f96c')
					script.
						ymaps.ready(init);
						function init() {
							var myMap = new ymaps.Map("map", {
									center: [55.85732369729193,37.43951643254084],
									zoom: 15
							}, {
									searchControlProvider: 'yandex#search'
							});
							myPlacemark = new ymaps.Placemark([55.85732369729193,37.43951643254084], {
							}, {
									iconLayout: 'default#image',
									iconImageHref: 'img/svg/mapPin.svg',
									iconImageSize: [48, 48],
									iconImageOffset: [-24, -48]
							}),
							myMap.geoObjects
								.add(myPlacemark)
						}
					+e.map
						#map
			+e.bottom-row.row
				.col-md
					p.mb-0 Россия, Москва, улица Фомичёвой, 16к3
				.col-md-auto 
					+downloadRequisites('Карточка организации')
	// end sContactInfo