
mixin mnu(firstList)
	nav
		ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
			if firstList
				each link in nav
					li.menu-item(itemprop="item" ): a(href= link.url itemprop="url")= link.name
			else
				each link in nav2
					li.menu-item(itemprop="item" ): a(href= link.url itemprop="url")= link.name

//- menu