mixin sCalculator(data)
	// start sCalculator
	+b.sCalculator.section#sCalculator&attributes(attributes)
		.container
			+form-wrap
				+e.row--radioBtns.row
					.col-md-6.col-lg-4
						+choiceOption(`Рассчитать забор`, 'radioBtn')(checked)
					.col-md-6.col-lg-4
						+choiceOption(`Рассчитать навес`, 'radioBtn')
					.col-md-6.col-lg-4
						+choiceOption(`Рассчитать ворота`, 'radioBtn')
				+e.row--main.row
					.col-lg-8
						+e.row--filters.row
							.col-lg-6
								+input('Забор из профнастила', 'select', 'Тип забора')
							.col-lg-6
								+input('Количество метров', 'number', 'Количество метров')
							.col-lg-6
								+input('1.5', 'select', 'Высота, м')
							.col-lg-6
								+input('0.35', 'select', 'Толщина листа, мм')

							.col-lg-6
								+input('2', 'select', 'Количество лаг')
							.col-lg-6
								+input('Одностороннее', 'select', 'Покрытие')
							.col-lg-6
								+input('Количество ворот', 'select', 'Количество ворот')
							.col-lg-6
								+input('Распашные', 'select', 'Ворота')

							.col-lg-6
								+input('Нет', 'select', 'Автоматика')
							.col-lg-6
								+inputNumber(`Количество калиток`, `Количество`)
							.col-lg-6
								+input('Нет', 'select', 'Трамбовка столбов щебнем в п.м.')
							.col-lg-6
								+inputNumber(`Дополнительный столб для калиток`, `Количество`)

							.col-lg-6
								+input('Грунтовка', 'select', 'Покраска каркаса краской')
							.col-lg-6
								+input('Нет', 'select', 'Доставка')
					.col-lg-4
						+e.send-feendback
							.row
								.col-12
									+e.title.h5 Получить расчет ограждения
									p Оставьте заявку и мы свяжемся с Вами в ближайшее время!
								.col-12
									+input('Введите имя', 'text', 'Ваше имя')
								.col-12
									+input('Введите эл. почту', 'text', 'Выслать расчет на эл. почту')
								.col-12
									+input('Введите телефон', 'tel', 'Выслать расчет на Watsapp')
								.col-12
									+e.price Ориентировочная стоимость работы:
										span.h5 1 480 560 руб
								.col-12
									+e.BUTTON.btn.btn.btn-secondary Получить расчет
								.col-12
									+policy()
			+e.description
				.h3 Описание для калькулятора
				p Монтаж осуществляется под ключ как в&nbsp;Москве, так и&nbsp;области. Стоимость работ рассчитывается за&nbsp;погонный метр. В&nbsp;нее уже входят подготовительные и&nbsp;монтажные работы, материалы и&nbsp;комплектующие. Мы&nbsp;проконсультируем вас по&nbsp;любым вопросам, и&nbsp;подберем профнастил для установки на&nbsp;вашем участке.
				p Для заказа нет необходимости посещать наш офис. Достаточно позвонить по&nbsp;телефону или написать нам, и&nbsp;наш замерщик приедет бесплатно в&nbsp;удобное для вас время. Перед тем как купить и&nbsp;заказать, вы&nbsp;можете самостоятельно рассчитать его стоимость с&nbsp;помощью нашего калькулятора.
				p Кроме того, наша команда специалистов подберет вам дополнительные элементы, такие как калитки, ворота и&nbsp;ограждения для мусорных контейнеров. Ограждения подойдут для домов, дач, строительных площадок, коммерческих и&nbsp;производственных объектов. Мы&nbsp;гарантируем качественное выполнение услуг под ключ, а&nbsp;также предоставляем гарантию на&nbsp;выполненные работы.
	// end sCalculator